@import './colors';
@import './fonts';

@mixin block-content {
  color: $color-text;
  font-family: $font-block;
  font-size: 1.2rem;

  p {
    column-gap: 50px; // TODO responsive
    column-count: 2; // TODO responsive
    -moz-column-gap: 50px;
    -moz-column-count: 2;
    -webkit-column-gap: 50px;
    -webkit-column-count: 2;
  }

  h1,
  h2,
  h3 {
    font-family: $font-title;
    font-weight: normal;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  h1 {
    display: block;
    border-bottom: 1.5px solid $color-text;
    font-size: 2.4rem;
    text-align: center;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  a {
    color: $color-highlight;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    margin: 0;
    padding: .5rem 1rem;
    background-color: $color-highlight-bg;
    font-family: $font-personal;
    font-size: 1.8rem;
    font-weight: normal;

    p {
      margin: .5rem 0 0;
    }
  }

  figure {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }
}
