@import './colors';
@import './fonts';
@import './mixins';

.blog {
  width: 1000px; //TODO responsive

  > h1 {
    display: block;
    border-bottom: 1.5px solid $color-text;
    font-family: $font-title;
    font-size: 2.4rem;
    font-weight: normal;
    letter-spacing: .2em;
    text-align: center;
    text-transform: uppercase;
  }
}

.blog__introduction {
  @include block-content;
  margin-bottom: 100px; // TODO responsive
}

.blog__previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
