@import './colors';
@import './fonts';
@import './mixins';

.blog {
  @include block-content;
  width: 1000px; //TODO responsive
}

.blog__title {
  @include large-headlines;
}

.blog__introduction {
  @include two-columns;
  margin-bottom: 100px; // TODO responsive
}

.blog__previews {
  @include small-headlines;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
