@import './fonts';
@import './colors';

div {
  position: relative; // TODO this is not the right place
}

.main {
  display: flex;
  justify-content: center;
  min-width: 1000px; // TODO make it responsive!
}

.main-page__title {
  display: flex;
  justify-content: center;

  h1 {
    color: $color-text;
    font-family: $font-personal;
    font-size: 3rem;
    font-weight: normal;
  }
}
