@import './fonts';

.main {
  display: flex;
  justify-content: center;
  min-width: 900px; // TODO make it responsive!
}

.main-page__title {
  display: flex;
  justify-content: center;

  h1 {
    font-family: $font-personal;
    font-size: 3rem;
  }
}
