@import './mixins';
@import './colors';

.preview {
  width: 300px; //TODO responsive
  margin-bottom: 50px; // TODO responsive
}

.preview--full-width {
  display: flex;
  width: 100%;

  .preview__content {
    flex: 1 1 auto;
    margin-left: 50px; // TODO responsive
  }
}

.preview__image {
  img {
    &:hover {
      outline: 1px solid $color-highlight;
    }
  }
}

.preview__more-link {
  width: 100%;
  text-align: right;
}
